  <div class="container">
      <h1 class="text-center">{{ title }}</h1>
  </div>
    <hr/>

      <h2>Enter Data</h2>

      <div class="container">
      <form class="form-inline" #crudForm="ngForm" (ngSubmit)="onSubmit(crudForm)">
      
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="crudService.currDetail.name" placeholder="Enter Your Name">
        </div>

        <div class="form-group">
            <label for="seat">Seat</label>
            <input class="form-control" id="seat" name="seat" #name="ngModel" [(ngModel)]="crudService.currDetail.seat" placeholder="Enter Your Seat">
        </div>

        <div class="form-group">
            <label for="class">Class</label>
            <input type="text" class="form-control" id="class" name="clas" #name="ngModel" [(ngModel)]="crudService.currDetail.clas" placeholder="Enter Your Class">
        </div>

        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" name="year" #name="ngModel" [(ngModel)]="crudService.currDetail.year" placeholder="Enter Your Year">
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" (click)="addStudents()">Save</button>  
          </div>
        </div>
        
      </form>
    </div>

    <h2>Read & Delete Data</h2>

    <div class="container">

        <table class="table table-bordered">
            <thead>
              <tr>
                <th width=200>Name</th>
                <th width=200>Seat</th>
                <th width=200>Class</th>
                <th width=200>Year</th>
                <th width=250>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students; let i=index">
                <td>{{student.name}}</td>
                <td>{{student.seat}}</td>
                <td>{{student.class}}</td>
                <td>{{student.year}}</td>
                <td>
                  <a class="btn btn-success" (click)="editStudents(i)">Edit</a>
                  <a class="btn btn-danger" (click)="deleteStudents(i)">Delete</a>
                </td>
              </tr>
              
            </tbody>
          </table>
        

    </div>


    <h2>Update Data</h2>

    <div class="container">
    <form class="form-inline">

      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="stud1.name">
      </div>

      <div class="form-group">
          <label for="seat">Seat</label>
          <input type="text" class="form-control" id="seat" name="seat" [(ngModel)]="stud1.seat">
      </div>

      <div class="form-group">
          <label for="class">Class</label>
          <input type="text" class="form-control" id="class" name="class" [(ngModel)]="stud1.class">
      </div>

      <div class="form-group">
          <label for="year">Year</label>
          <input type="text" class="form-control" id="year" name="year" [(ngModel)]="stud1.year">
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" (click)="updateStudents(i)">Update</button>  
        </div>
      </div>
      
    </form>
    </div>
      <hr/>  
